:root {

    font-size: 16px;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
}

body, div {

    margin: 0;
    padding: 0;
}

#container {

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 150px calc(100vh - 150px);
    height: 100vh;
}

#header {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

#sidebar {

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: clamp(100px, 10vh, 500px) clamp(100px, 30vh, 500px) clamp(100px, 20vh, 500px);
    align-items: center;
    justify-content: start;
    padding: 0 24px;
    color: #ffffff;
    background-color: #1992d4;
}

#content {

    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#dlogo {

    grid-row: 1 / 2;
    font-size: 2rem;
}

#userLinks {

    grid-row: 2 / 3;
    font-size: 1.5rem;
    display: grid;
    gap: 16px;
}

#helpLinks {

    grid-row: 3 / 4;
    font-size: 1.5rem;
    display: grid;
    gap: 16px;
}

#content {

    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding: 36px 24px;
    background-color: #e2e8f0;
}

#projects {

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 15px;
}

.tabs {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: auto;
}

#projects .tabs {

    gap: 15px;
}

#announcements {

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 15px;
}

#trending {

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-rows: 2rem 1fr;
    gap: 15px;
}

#content>div {

    font-size: 1.5rem;
    display: grid;

}

.projectTab {

    height: 250px;
    border-radius: 8px;
    padding: 24px;
    display: grid;
    grid-template-rows: 1.5rem 1fr 1.5rem;
    gap: 16px;
    background: linear-gradient( 
        to right,
        #f0b429 10px,
        #ffffff 10px
    );
}

.projectTab:hover {

    background: linear-gradient( 
        to right,
        #cb9821 10px,
        #cdcccc 10px
    );
    cursor: pointer;
}

.projectText {

    font-size: 1rem;
}

.title {

    font-weight: 900;
    font-size: 1.5rem;
}

.actions {
    display: grid;
    justify-content: end;
}

.singleAnnouncement {

    height: 1fr;
    display: grid;
    grid-template-rows: 1rem 1fr;
    gap: 8px;
    border-radius: 2px;
    padding: 8px;
}

.singleAnnouncement:hover {

    background-color: #cdcccc;
}

#announcements .tabs,
#trending .tabs {

    border-radius: 8px;
    background-color: #ffffff;
    padding: 24px;
}

.aTitle {

    font-size: 1rem;
    font-weight: 900;
}

.aText {

    font-size: .75rem;
}

#announcements>.tabs>div+div {

    border-top: 1px solid rgb(186, 184, 184);
}

.urgent {

    color: #e9595e;
}

.person {

    font-size: 1rem;
    font-weight: 700;
    color: #434242;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.firstProject {

    font-size: 1rem;
    font-weight: 500;
    color: #636262;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.singleTrend {

    display: grid;
    height: 2rem;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 1rem 1rem;
    padding: 12px 0;
    border-radius: 2px;
}

.singleTrend:hover {

    background-color: #cdcccc;
}

.profPic {
    
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

#search {

    display: grid;
    align-items: center;
    grid-template-columns: 4rem 1fr;
    gap: 15px;
    padding: 0 36px;
}

#search label, #search input {

    height: 2rem;
    font-size: 2rem;
}

input {

    border-radius: 1rem;
    background-color: #e2e8f0;
    border: 0;
}

#greeting {

    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: 1rem 3rem;
    padding: 0 36px;
    /* column-gap: 8px; */
}

#greeting .profPic {

    grid-row: 1 / 3;
    grid-column: 1 / 2;
    font-size: 3rem;
}

#greeting .fullPerson {

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
}

.helloThere {

    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
    font-weight: 700;
}

#actions {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 36px;
    gap: 24px;
}

button {

    height: 2.25rem;
    border-radius: 1rem;
    border: 0;
    background-color: #1992d4;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
}

button:hover {

    background-color: #1580ba;
}

#header #profile {

    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#profile .notifications {

    grid-column: 1 / 2;
    display: grid;
    justify-content: end;
}

#profile .profPic {

    grid-column: 2 / 3;
}

#profile .fullPerson {

    grid-column: 3 / 4;
    font-size: 1.25rem;
    font-weight: 700;
}